<h2>Do it with {{ filtered.length || 0 }} clients</h2>

<div class="alert alert-danger" role="alert" ng-if="error">
  There's been an error. Maybe we can't connect to the server. Blame it on the logins. Exterminate, exterminate.
</div>

<div ng-hide="error">
  <div class="form-group">
    <input ng-model="query" class="form-control" placeholder="Search"></input>
  </div>
  <p><a href="" class="btn btn-default" ng-click="clear()">Clear Search</a></p>
  <hr>

  <table class="table table-bordered">
    <tr>
      <!-- <th>oh</td> -->
      <th>Client</td>
      <th>Ap</td>
      <th>First Seen</td>
      <th>Last Seen</td>
      <th>RSSI</td>
    </tr>
    <tr ng-repeat='client in filtered = (clients | filter:query | orderBy:predicate:reverse)'>
      <td><a href="" ng-click="selectClientMac(client.client_mac)">{{ client.client_mac }}</a></td>
      <td><a href="" ng-click="selectApMac(client.ap_mac)">{{ client.ap_mac }}</a></td>
      <td>{{ client.first_seen }}</td>
      <td>{{ client.last_seen | humanTime }}</td>
      <td>{{ client.rssi }}</td>
    </tr>
  </table>
  <a ng-show="client_mac && filtered.length > 1" href="/calibrate/{{ client_mac }}" class="btn btn-default">Calibrate</a>
  <p ng-hide="client_mac == undefined">Not enough datas to calibrate this device</p>
</div>
