.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#map_canvas_container {position: relative;}
#map_canvas {position: absolute; top: 0px; left: 0px; right: 300px; bottom: 0;}
#map_canvas_inner {width: 100%; height: 600px; margin: 0;}

info-window {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  right: 0;
  background-color: #2a373e;
  color: white;
  z-index: 1000;
  padding: 20px 20px;
}
